.form-crear {
    margin-top: 30px;
    background-color: rgba(0,0,0,0.05);
    padding: 10px;
}

.card {
    margin: 10px;
}


.card {
    background-color: rgba(0,0,0,0.8);
    color: #FFF;
}


nav .salir {
    color: #FFF;
    text-decoration: none;
}

.especial {
    color: #FFF;
    text-align: center;
}

.bg-custom {
    background-color: #f2f2f2;
}

.btn-custom {
    width: auto;
}

.btn-custom:hover {
    background-color: #e72981;
    border-color: #e72981;
}

.nav-link {
    color: #e72981 !important;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #e72981 !important;
}

.fa-edit {
    margin-left: 3px;
}

.card-img {
    height: 60%;
}

