{% extends 'base/base.html' %}

{% block content %}
    <form action="{% url 'album_delete' album.id %}" method="post">
        {% csrf_token %}
        <div class="confirm-delete">
            <h1 class="text-center">Eliminar registro</h1>
            <div>
                <h4 class="m-t-2">¿Deseas eliminar el registro {{album.id}} del album " {{album.title}} "?</h4>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 save-inmueble">
                    <button type="submit" class="btn btn-primary btn-lg">Sí, eliminar</button>
                    <a href="{% url 'album_list'%}" class="btn btn-danger btn-lg">Cancelar</a>
                </div>
            </div>

        </div>
    </form>
{% endblock %}
