{% extends 'base/base.html' %}

{% load static %}
{% block content %}
    <div class="lista_ele d-flex justify-content-around flex-wrap">
        {% for album in albumes %}
        <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Album title</h5>
            <p class="card-text">{{ album.title }}</p>
            <a href="" class="btn btn-primary">Editar</a>
            <a href="{% url 'image_gallery' album.id %}" class="btn btn-primary">Ver fotos</a>
            <a href="{% url 'album_delete' album.id %}" class="btn btn-danger">Eliminar</a>
          </div>
        </div>
    {% endfor %}
    </div>

{% endblock%}
